<div class="" id="loginModal" align="center">
    <div>
        <h1>Confirmare cereri de rezervare</h1>
    </div>
    <div class="container">
        <img src="/img/cereri.jpg" style="width:800px;height:400px">
        <br>
        <br>
        <div class="well" style="width: 800px">

        <form id="bootstrapSelectForm" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 control-label">Cereri</label>
                <div class="col-xs-8 selectContainer">
                    <select ng-model="cerereselectata" name="Cerere" class="form-control">
                        <option value=""></option>
                        <option ng-repeat="item in cereri" value={{item}}>{{item.name}}, {{item.date | date : format : timezone}}</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button ng-click="confirm()" class="btn btn-success" ng-disabled="!cerereselectata">Confirma</button>
                    <button ng-click="reject()" class="btn btn btn-danger" ng-disabled="!cerereselectata">Respinge</button>
                </div>
            </div>

        </form>
    </div>
</div>
</div>

<div id="successPopup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"  id="content">
                <h4 class="modal-title">{{confMessage}}</h4>
            </div>
            <div class="modal-body">
                <p>{{createMessage}}</p>
            </div>
            <div class="modal-footer">
                <button ng-click="goHome()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>