<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">

<div class="" id="loginModal">
    <div class="modal-header">
        <h3>Adaugare sala in sistem</h3>
    </div>
    <div class="container">
        <div class="well">
        <!--row in loc de well-->
            <ul class="nav nav-tabs">
                <li ng-click="changeSelected(1)" ng-class="{active: selected==1}"><a href="#creearesala/#date" data-toggle="tab">Date generale</a></li>
                <li ng-click="changeSelected(2)" ng-class="{active: selected==2}"><a href="#creearesala/#locatie" data-toggle="tab">Locatie</a></li>
                <li ng-click="changeSelected(3)" ng-class="{active: selected==3}"><a href="#creearesala/#facilitati" data-toggle="tab">Facilitati</a></li>
                <li ng-click="changeSelected(4)" ng-class="{active: selected==4}"><a href="#creearesala/#echipamente" data-toggle="tab">Echipamente</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="date">
                    <form class="form-horizontal" action='' method="POST">
                        <fieldset>
                            <!--<div id="legend">-->
                                <!--<legend class="">Login</legend>-->
                            <!--</div>-->
                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label"  for="denumire1">Denumire sala</label>
                                <div class="controls">
                                    <input type="text" id="denumire1" name="denumire" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="suprafata">Suprafata sala</label>
                                <div class="controls">
                                    <input type="text" id="suprafata" name="suprafata" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="locuri">Numar locuri</label>
                                <div class="controls">
                                    <input type="text" id="locuri" name="locuri" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane fade" id="locatie">
                    <form class="form-horizontal" action='' method="POST">
                        <fieldset>
                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label"  for="denumire2">Denumire locatie/Hotel</label>
                                <div class="controls">
                                    <input type="text" id="denumire2" name="denumire" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="oras">Oras</label>
                                <div class="controls">
                                    <input type="text" id="oras" name="oras" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="sector">Sector</label>
                                <div class="controls">
                                    <input type="text" id="sector" name="sector" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="strada">Strada</label>
                                <div class="controls">
                                    <input type="text" id="strada" name="strada" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="numar">Numar</label>
                                <div class="controls">
                                    <input type="text" id="numar" name="numar" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane fade" id="facilitati">
                    <!--<form id="tab">-->
                    <form class="form-horizontal" action='' method="POST">
                        <fieldset>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Aer conditionat
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Lumina naturala
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Intunecare
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Scena la prezidiu
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Servicii catering
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Restaurant
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Parcare
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Lift
                            </label>
                        </div>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane fade" id="echipamente">
                    <!--<form id="tab">-->
                    <form class="form-horizontal" action='' method="POST">
                        <fieldset>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Acces internet wireless
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Videoproiector
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Laser pointer
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Flipchart, hartie, markere
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Whiteboard
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Sonorizare
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Microfoane
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Plasma tv/LCD
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Video conferinta
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Inregistrare audio-video
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Laptop, PC
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                Imprimanta, copiator, fax
                            </label>
                        </div>
                        </fieldset>
                    </form>
                </div>
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success">Salveaza</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
