<!--<link class="cssdeck" rel="stylesheet" href="/js/bootstrap.min.css">-->
<div class="" id="loginModal">

<style type="text/css">

    input:required:invalid, input:focus:invalid {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
        background-position: right top;
        background-repeat: no-repeat;
    }
    input:required:valid {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
        background-position: right top;
        background-repeat: no-repeat;
    }

</style>

    <div class="modal-header">
        <h3>Adaugare sala in sistem</h3>
    </div>
    <div class="container">
        <div class="well">
        <!--row in loc de well-->
            <ul class="nav nav-tabs">
                <li ng-click="changeSelected(1)" ng-class="{active: selected==1}"><a href="#creearesala/#date" data-toggle="tab">Date generale</a></li>
                <li ng-click="changeSelected(2)" ng-class="{active: selected==2}"><a href="#creearesala/#locatie" data-toggle="tab">Locatie</a></li>
                <li ng-click="changeSelected(3)" ng-class="{active: selected==3}"><a href="#creearesala/#facilitati" data-toggle="tab">Facilitati</a></li>
                <li ng-click="changeSelected(4)" ng-class="{active: selected==4}"><a href="#creearesala/#echipamente" data-toggle="tab">Echipamente</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="date">
                    <form class="form-horizontal" action='' method="POST">
                        <ul class="errorMessages"></ul>
                        <fieldset>
                            <div class="control-group">
                                <!-- Denumire sala -->
                                <label class="control-label" for="denumire1">Denumire sala</label>
                                <div class="controls">
                                    <input ng-model="conferenceroom.name" pattern="[A-Za-z ]{5,20}" ng-required="true" type="text" id="denumire1" name="denumire">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Suprafata sala-->
                                <label class="control-label" for="suprafata">Suprafata sala (m²)</label>
                                <div class="controls">
                                    <input pattern="[1-9[0-9]*" ng-required="true" ng-model="conferenceroom.surface" type="text" id="suprafata" name="suprafata" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Numar locuri-->
                                <label class="control-label" for="locuri">Numar locuri</label>
                                <div class="controls">
                                    <input pattern="[1-9[0-9]*" ng-required="true" ng-model="conferenceroom.placesNumber" type="text" id="locuri" name="locuri" placeholder="" class="input-xlarge">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane fade" id="locatie">
                    <form class="form-horizontal" action='' method="POST">
                        <fieldset>
                            <div class="control-group">
                                <!-- Denumire locatie/hotel -->
                                <label class="control-label"  for="denumire2">Denumire locatie/Hotel</label>
                                <div class="controls">
                                    <input pattern="[A-Za-z 1-9]{5,20}" ng-required="true" ng-model="conferenceroom.name" type="text" id="denumire2" name="denumire" placeholder="" >
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Oras-->
                                <label class="control-label" for="oras">Oras</label>
                                <div class="controls">
                                    <input pattern="[A-Za-z ]{3,15}" ng-required="true" ng-model="conferenceroom.city"type="text" id="oras" name="oras" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Sector -->
                                <label class="control-label" for="sector">Sector</label>
                                <div class="controls">
                                    <input pattern="[1-6]{1}" ng-required="true" ng-model="conferenceroom.sector" type="text" id="sector" name="sector" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Strada -->
                                <label class="control-label" for="strada">Strada</label>
                                <div class="controls">
                                    <input pattern="[A-Za-z 1-9]{1,40}" ng-required="true"  ng-model="conferenceroom.street" type="text" id="strada" name="strada" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Etaj -->
                                <label class="control-label" for="strada">Etaj</label>
                                <div class="controls">
                                    <input pattern="[1-9][0-9]*" ng-required="true" ng-model="conferenceroom.floor" type="text" id="etaj" name="etaj" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Numar -->
                                <label class="control-label" for="numar">Numar</label>
                                <div class="controls">
                                    <input pattern="[1-9][0-9]*[A-Za-z]*" ng-required="true" ng-model="conferenceroom.streetNumber" type="text" id="numar" name="numar" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Indicatii -->
                                <label class="control-label" for="numar">Indicatii de orientare</label>
                                <div class="controls">
                                    <textarea ng-model="conferenceroom.indication" class="col-xs-5 field" rows="3" id="indicatii" name="indicatii"></textarea>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane fade" id="facilitati">
                    <!--<form id="tab">-->
                    <form class="form-horizontal" action='' method="POST">
                        <fieldset>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.climateSystem" type="checkbox" value="">
                                Aer conditionat
                            </label>
                        </div>
                        <div class = "checkbox">
                            <label>
                                <input ng-model="conferenceroom.naturalLight" type="checkbox" value="">
                                Lumina naturala
                            </label>
                        </div>
                        <div class = "checkbox">
                            <label>
                                <input ng-model="conferenceroom.darkness" type="checkbox" value="">
                                Intunecare
                            </label>
                        </div>
                        <div class = "checkbox">
                            <label>
                                <input ng-model="conferenceroom.scene" type="checkbox" value="">
                                Scena la prezidiu
                            </label>
                        </div>
                        <div class = "checkbox">
                            <label>
                                <input ng-model="conferenceroom.catering" type="checkbox" value="">
                                Servicii catering
                            </label>
                        </div>
                        <div class = "checkbox">
                            <label>
                                <input ng-model="conferenceroom.restaurant" type="checkbox" value="">
                                Restaurant
                            </label>
                        </div>
                        <div class = "checkbox">
                            <label>
                                <input ng-model="conferenceroom.parking" type="checkbox" value="">
                                Parcare
                            </label>
                        </div>
                        <div class = "checkbox">
                            <label>
                                <input ng-model="conferenceroom.elevator" type="checkbox" value="">
                                Lift
                            </label>
                        </div>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane fade" id="echipamente">
                    <!--<form id="tab">-->
                    <form class="form-horizontal" action='' method="POST">
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.wireless" type="checkbox" value="">
                                Acces internet wireless
                            </label>
                        </div>
                        <div class = "checkbox">
                            <label>
                                <input ng-model="conferenceroom.videoprojector" type="checkbox" value="">
                                Videoproiector
                            </label>
                        </div>
                        <div class = "checkbox">
                            <label>
                                <input ng-model="conferenceroom.laserpointer" type="checkbox" value="">
                                Laser pointer
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.projectionScreen" type="checkbox" value="">
                                Ecran pentru proiectii
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.flipchart" type="checkbox" value="">
                                Flipchart, hartie, markere
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.whiteboard" type="checkbox" value="">
                                Whiteboard
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.soundsystem" type="checkbox" value="">
                                Sonorizare
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.microphones" type="checkbox" value="">
                                Microfoane
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.tv" type="checkbox" value="">
                                Plasma tv/LCD
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.videoconference" type="checkbox" value="">
                                Video conferinta
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.recordAV" type="checkbox" value="">
                                Inregistrare audio-video
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.laptop" type="checkbox" value="">
                                Laptop, PC
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.printer" type="checkbox" value="">
                                Imprimanta, copiator, fax
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="conferenceroom.translator" type="checkbox" value="">
                                Translator
                            </label>
                        </div>
                        </fieldset>
                    </form>
                </div>
                <br>
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button ng-click="saveConferenceRoom()" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="successPopup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"  id="content">
                <h4 class="modal-title">{{confMessage}}</h4>
            </div>
            <div class="modal-body">
                <p>{{createMessage}}</p>
            </div>
            <div class="modal-footer">
                <button ng-click="goHome()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var createAllErrors = function() {
        var form = $( this ),
                errorList = $( "ul.errorMessages", form );

        var showAllErrorMessages = function() {
            errorList.empty();

            // Find all invalid fields within the form.
            var invalidFields = form.find( ":invalid" ).each( function( index, node ) {

                // Find the field's corresponding label
                var label = $( "label[for=" + node.id + "] "),
                // Opera incorrectly does not fill the validationMessage property.
                        message = node.validationMessage || 'Invalid value.';

                errorList
                        .show()
                        .append( "<li><span>" + label.html() + "</span> " + message + "</li>" );
            });
        };

        // Support Safari
        form.on( "submit", function( event ) {
            if ( this.checkValidity && !this.checkValidity() ) {
                $( this ).find( ":invalid" ).first().focus();
                event.preventDefault();
            }
        });

        $( "input[type=submit], button:not([type=button])", form )
                .on( "click", showAllErrorMessages);

        $( "input", form ).on( "keypress", function( event ) {
            var type = $( this ).attr( "type" );
            if ( /date|email|month|number|search|tel|text|time|url|week/.test ( type )
                    && event.keyCode == 13 ) {
                showAllErrorMessages();
            }
        });
    };

    $( "form" ).each( createAllErrors );
</script>