<div class="" id="loginModal" align="center">
<div>
    <h1>Căutare sală în sistem</h1>
</div>
<div class="container">
<img src="/img/rezervasala.jpg" style="width:800px;height:400px">
<br>
<br>
    <div class="well" style="width: 800px">
        <form id="bootstrapSelectForm" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label">Localitate</label>
                <div class="col-xs-5 selectContainer">
                    <select ng-model="searchRoom.city" name="Orase" class="form-control" data-ng-options="item for item in cityes">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Capacitate</label>
                <div class="col-xs-5 selectContainer">
                    <select ng-model="searchRoom.capacity" name="Orase" class="form-control" data-ng-options="item for item in capacityes">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
            <label class="col-xs-3 control-label">Data rezervare</label>
                <div class="col-xs-3 selectContainer">
                    <input ng-model="searchRoom.date" type="datetime-local" >
                </div>
            </div>


            <div class="form-group">
            <label class="col-xs-3 control-label">Facilitati</label>
            <div class="col-xs-5 selectContainer">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <label class="checkbox-inline">
                                <input ng-model="searchRoom.climateSystem" type="checkbox" id="aerconditionat" value="aerconditionat">Aer conditionat
                            </label>
                        </td>
                        <td></td>
                        <td>
                            <label class="checkbox-inline">
                                <input ng-model="searchRoom.naturalLight" type="checkbox" id="luminanaturala" value="luminanaturala">Lumina naturala
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="checkbox-inline">
                                <input ng-model="searchRoom.darkness" type="checkbox" id="intunecare" value="intunecare">Intunecare
                            </label>
                        </td>
                        <td></td>
                        <td>
                            <label class="checkbox-inline">
                                <input ng-model="searchRoom.scene" type="checkbox" id="scena" value="scena">Scena la prezidiu
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="checkbox-inline">
                                <input ng-model="searchRoom.catering" type="checkbox" id="catering" value="catering">Servicii catering
                            </label>
                        </td>
                        <td></td>
                        <td>
                            <label class="checkbox-inline">
                                <input ng-model="searchRoom.restaurant" type="checkbox" id="restaurant" value="restaurant">Restaurant
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="checkbox-inline">
                                <input ng-model="searchRoom.parkings" type="checkbox" id="parcare" value="parcare">Parcare
                            </label>
                        </td>
                        <td></td>
                        <td>
                            <label class="checkbox-inline">
                                <input ng-model="searchRoom.elevator" type="checkbox" id="lift" value="lift">Lift
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Echipamente</label>
                <div class="col-xs-5 selectContainer">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.wireless" type="checkbox" id="wireless" value="wireless">Acces internet wireless
                                </label>
                            </td>
                            <td></td>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.videoprojector" type="checkbox" id="videoproiector" value="videoproiector">Videoproiector
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.laserpointer" type="checkbox" id="laserpointer" value="laserpointer">Laser pointer
                                </label>
                            </td>
                            <td></td>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.flipchart" type="checkbox" id="flipchart" value="flipchart">Flipchart
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.whiteboard" type="checkbox" id="whiteboard" value="whiteboard">Whiteboard
                                </label>
                            </td>
                            <td></td>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.soundsystem" type="checkbox" id="sonorizare" value="sonorizare">Sonorizare
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.microphones" type="checkbox" id="microfoane" value="microfoane">Microfoane
                                </label>
                            </td>
                            <td></td>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.tv" type="checkbox" id="lcd" value="lcd">Plasma TV / LCD
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.videoconference" type="checkbox" id="conferinta" value="conferinta">Video conferinta
                                </label>
                            </td>
                            <td></td>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.recordAV" type="checkbox" id="inregistrare" value="inregistrare">Inregistrarea audio-video
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.laptop" type="checkbox" id="laptop" value="laptop">Laptop / PC
                                </label>
                            </td>
                            <td></td>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.printer" type="checkbox" id="imprimanta" value="imprimanta">Imprimanta, fax
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.projectionScreen" type="checkbox" id="screenproiectii" value="ecranproiectii">Ecran pentru proiectii
                                </label>
                            </td>
                            <td></td>
                            <td>
                                <label class="checkbox-inline">
                                    <input ng-model="searchRoom.translator" type="checkbox" id="translator" value="translator">Translator
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="control-group">
            <!-- Button -->
                <div class="controls">
                    <button ng-click="reserveRoom()" class="btn btn-success">Caută</button>
                </div>
            </div>

        </form>
    </div>

    <table ng-show="searchResult" id="tbl" style="border: solid 1px black" class="table table-bordered">
        <tr>
            <th>
                Nume
            </th>
            <th>
                Capacitate
            </th>
            <th>
                Localitate
            </th>
        </tr>
        <tr ng-repeat="item in searchResult" ng-click="setSelected(item)" ng-class="{selected: item === idSelectedItem}">
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.placesNumber}}
            </td>
            <td>
                {{item.location}}
            </td>
        </tr>

    </table>

    <button ng-show="idSelectedItem">Rezerva sala</button>

<style>
    .selected {
        background-color: #f5ffa9;
    }
</style>

<!--<script>-->
    <!--$(document).ready(function () {-->
        <!--$('#resultTable tr').click(function (event) {-->
            <!--alert($(this).attr('id')); //trying to alert id of the clicked row-->

        <!--});-->
    <!--});-->
<!--</script>-->

</div>
</div>
