<div class="well" align="center">
    <h1>In cazul in care stergeti contul, acesta nu mai poate fi recuperat.</h1>
    <h1>Sunteti sigur ca doriti sa il stergeti?</h1>
    <br>
    <img class="profile-img" src="/img/stergere.jpg" style="width: 250px; height: 200px">
    <br>
    <button ng-click="deleteAccount()" class="btn btn-success">Stegere cont</button>
</div>

<div id="successPopup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"  id="content">
                <h4 class="modal-title">{{confMessage}}</h4>
            </div>
            <div class="modal-body">
                <p>{{createMessage}}</p>
            </div>
            <div class="modal-footer">
                <button ng-click="goHome()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>